:root {
  --body-color: #f5f7fa;
  --text-prime-color: #595959;
  --text-second-color: #ffffff;
  --text-title-color: #000000;
  --text-calendar-color: #a8a8a8;
  --accent-color: #fb6d3a;
  --section1-color: #1e2939;
  --section2-color: #ffffff;
}
